/*:::: Main Stylesheet ::::*/

@import url('less\colors.less'); 		// Site-wide colors
@import url('less\fonts.less'); 		// Site-wide fonts
@import url('less\mixins.less'); 		// Mixins
@import url('less\validate.less');      // Validate
/*:::: YOUR STYLES HERE ::::*/

/*Admin*/

#RoleId, #Role{
    font-size:@selectBox;
}

.inline-control-label {
    display: inline;
    padding-left: 10px;
}

/*:::: No styles below this line ::::*/
@import url('less\helpers.less'); 	// Helper classes
@import url('less\print.less'); 		// Print styles