@{
    Layout = "_SiteLayout.cshtml";
    Page.Title = "Home"; 
    
}
<section role="main">
    <div class="large-8 columns">
        <div class="row">
            <!-- Top Head -->
            <div class="6 columns">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</section>


@section baseScript{
    <script>

    </script>

}